.message {
	background-color: darken($color-1, 14%);
	min-width: 25%;
	max-width: 85%;
	margin: 0.25rem 0.5rem;
	padding: 0.25rem 0.5rem;
	border-radius: 0.25rem;
	position: relative;

	.message-info {
		display: flex;
		flex-direction: row;
		font-size: 0.85rem;
		opacity: 0.5;

		.message-info-edited {
			margin-left: 0.25rem;
		}

		.message-info-status-anchor {
			position: relative;
			margin-left: 0.25rem;

			.message-info-status {
				position: absolute;
				left: 0;
				top: 10%;

				&.status-read {
					color: lighten($color-3, 10%);
				}

				&.status-error {
					color: lighten($color-red, 10%);
				}
			}

			i:nth-child(2) {
				left: 0.3rem;
			}
		}
	}

	&.user-true {
		align-self: flex-end;
		background-color: darken($color-1, 7%);
	}

	&.user-false {
		align-self: flex-start;
		background-color: lighten($dark, 5%);
	}
}

.message-context-modal {
	position: fixed;
	top: 50%;
	width: 50%;
	left: 25%;
	border-radius: 0.25rem;
	background-color: $dark;
	padding: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
