// -------------- Module Imports -------------- //

// ---------- variables ----------- //
@import './variables.module.scss';
@import './_bootstrap-overrides.scss';
@import './_keyframes.scss';

// ----- components ----- //

// ---------- auth ----------- //
@import './components/auth/_Login.scss';

// ---------- layout ----------- //
@import './components/layout/_Alert.scss';

// ---------- loading ----------- //
// @import './components/loading/_Loading.scss';

// -------------- General Selectors -------------- //

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: $color-1;
	color: $color-2;
}

html,
body {
	background-color: $color-1;
	color: $color-2;
}
