// -------------- Module Imports -------------- //
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&display=swap');
// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Lobster', cursive;

// ---------- variables ----------- //
@import './variables.module.scss';
@import './_bootstrap-overrides.scss';
@import './_keyframes.scss';

// ----- components ----- //

// ---------- auth ----------- //
@import './components/auth/_Login.scss';

// ---------- layout ----------- //
@import './components/layout/_Alert.scss';
@import './components/layout/_Landing.scss';

// ---------- loading ----------- //
// @import './components/loading/_Loading.scss';

// -------------- General Selectors -------------- //

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: $color-1;
	color: $color-2;
}

html,
#bootstrap-overrides {
	background-color: $color-1;
	color: $color-2;
	font-family: 'Josefin Sans', sans-serif;
}

.fullscreen {
	height: 100vh;
}

.title {
	font-family: 'Lobster', cursive;
}
