$color-1: #292929;
$color-2: #eeeeee;
$color-3: #118392;
$color-4: #ad7100;

$dark: #111111;

$shadow: #202020;

$color-orange: #e06c00;
$color-green: #06720f;
$color-red: #a10000;
$color-grey: #777777;

$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

:export {
	color1: $color-1;
	color2: $color-2;
	color3: $color-3;
	color4: $color-4;

	dark: $dark;
	// colorShadow: $shadow;

	colorOrange: $color-orange;
	colorGreen: $color-green;
	colorRed: $color-red;

	bpSM: $bp-sm;
	bpMD: $bp-md;
	bpLG: $bp-lg;
	bpXL: $bp-xl;
	bpXXL: $bp-xxl;
}
