@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&display=swap");
:export {
  color1: #292929;
  color2: #eeeeee;
  color3: #118392;
  color4: #ad7100;
  dark: #4b4b4b;
  colorShadow: #202020;
  initialized: #7397af;
  submitted: #067d9b;
  retrieving: #d19945;
  retrieved: #e06c00;
  stocking: #4fc25b;
  complete: #00750a;
  colorOrange: #e06c00;
  colorGreen: #06720f;
  colorRed: #a10000;
  bpSM: 576px;
  bpMD: 768px;
  bpLG: 992px;
  bpXL: 1200px;
  bpXXL: 1400px;
}

#bootstrap-overrides .btn {
  background-color: transparent;
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem;
  width: 7rem;
  color: #eeeeee;
  box-shadow: 0 0 0 0.175rem #eeeeee;
}
#bootstrap-overrides .btn:hover {
  background-color: #4b4b4b;
  color: #eeeeee;
  box-shadow: none;
  transition: ease 0.5s all;
}
#bootstrap-overrides .btn:focus {
  outline: none;
  color: #eeeeee;
}
#bootstrap-overrides .btn:focus:not(:hover) {
  box-shadow: 0 0 0 0.175rem #323232;
}
#bootstrap-overrides .btn:focus:not(:active) {
  background: #4b4b4b;
  background-image: linear-gradient(45deg, #4b4b4b 0%, #4b4b4b 15%, #717171 25%, #4b4b4b 45%, #4b4b4b 100%);
  background-repeat: no-repeat;
  background-size: 1000%, 600%;
  display: inline-block;
  position: relative;
  animation: 2.5s 1s shimmer reverse infinite linear;
}
#bootstrap-overrides .btn:active {
  background-color: #323232;
  position: relative;
  top: 0.2rem;
  transition: ease 0.3s all;
}
#bootstrap-overrides .btn i {
  color: inherit;
}
#bootstrap-overrides .btn-3 {
  color: #118392;
  box-shadow: 0 0 0 0.175rem #118392;
}
#bootstrap-overrides .btn-3:hover {
  background-color: #118392;
}
#bootstrap-overrides .btn-3:focus:not(:hover) {
  box-shadow: 0 0 0 0.175rem #0c5a64;
}
#bootstrap-overrides .btn-3:focus:not(:active) {
  background: #118392;
  background-image: linear-gradient(45deg, #118392 0%, #118392 15%, #19c0d7 25%, #118392 45%, #118392 100%);
  background-repeat: no-repeat;
  background-size: 1000%, 600%;
  display: inline-block;
  position: relative;
  animation: 2.5s 1s shimmer reverse infinite linear;
}
#bootstrap-overrides .btn-3:active {
  background-color: #0c5a64;
}
#bootstrap-overrides .btn-4 {
  color: #ad7100;
  box-shadow: 0 0 0 0.175rem #ad7100;
}
#bootstrap-overrides .btn-4:hover {
  background-color: #ad7100;
}
#bootstrap-overrides .btn-4:focus:not(:hover) {
  box-shadow: 0 0 0 0.175rem #7a5000;
}
#bootstrap-overrides .btn-4:focus:not(:active) {
  background: #ad7100;
  background-image: linear-gradient(45deg, #ad7100 0%, #ad7100 15%, #faa300 25%, #ad7100 45%, #ad7100 100%);
  background-repeat: no-repeat;
  background-size: 1000%, 600%;
  display: inline-block;
  position: relative;
  animation: 2.5s 1s shimmer reverse infinite linear;
}
#bootstrap-overrides .btn-4:active {
  background-color: #7a5000;
}
#bootstrap-overrides .form-group {
  position: relative;
}
#bootstrap-overrides .form-group .input {
  z-index: 2;
  min-width: 15rem;
  border: 0;
  outline: 0;
  background: transparent;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 0.2rem solid #0c5a64;
  color: #ad7100;
  /* reset input */
}
#bootstrap-overrides .form-group .input:hover {
  border-bottom: 0.2rem solid rgba(173, 113, 0, 0.5);
}
#bootstrap-overrides .form-group .input:focus {
  outline: 0;
  box-shadow: none;
  border-width: 0.2rem;
  border-image: linear-gradient(to right, #e09200, #ad7100, #7a5000);
  border-image-slice: 1;
}
#bootstrap-overrides .form-group .input:focus ~ .label {
  left: 100%;
  top: 0;
  transform: translate(-100%, 0%);
  transition: 0.2s;
  font-size: 0.8rem;
  color: #ad7100;
}
#bootstrap-overrides .form-group .input::placeholder {
  color: transparent;
}
#bootstrap-overrides .form-group .input:required, #bootstrap-overrides .form-group .input:invalid {
  box-shadow: none;
}
#bootstrap-overrides .form-group input:-webkit-autofill {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: #06720f;
}
#bootstrap-overrides .form-group input:-webkit-autofill:hover {
  border-bottom: 0.2rem solid rgba(173, 113, 0, 0.5);
}
#bootstrap-overrides .form-group input:-webkit-autofill:focus {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: #06720f;
}
#bootstrap-overrides .form-group .label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(17, 131, 146, 0.5);
  background-color: transparent;
  cursor: text;
  z-index: 1;
  transition: 0.2s;
}

@keyframes button-pulse-3 {
  from {
    color: #118392;
    box-shadow: 0 0 0 0.175rem #118392;
    background-color: initial;
  }
  to {
    color: #eeeeee;
    box-shadow: none;
    background-color: #1497a9;
  }
}
@keyframes shimmer {
  0% {
    background-position: -10% 110%;
  }
  100% {
    background-position: 110% -10%;
  }
}
#login .title {
  color: #1497a9;
}

#alert-anchor {
  position: fixed;
  width: 75vw;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}
#alert-anchor .alert {
  width: 100%;
  background: #434343;
  color: #eeeeee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  margin-bottom: 1rem;
  position: relative;
}
#alert-anchor .alert-text {
  background: none;
  text-align: center;
  max-width: 75%;
  margin: 0;
}
#alert-anchor .alert-text i {
  background-color: transparent;
}
#alert-anchor .close-alert {
  position: absolute;
  background-color: transparent;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
  padding: 0 1rem;
  color: #eeeeee;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}
#alert-anchor .alert-success {
  background-color: #034209;
}
#alert-anchor .alert-warning {
  background-color: #ad5300;
}
#alert-anchor .alert-danger {
  background-color: #6e0000;
}

#landing .title {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  color: #ad7100;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #292929;
  color: #eeeeee;
}

html,
#bootstrap-overrides {
  background-color: #292929;
  color: #eeeeee;
  font-family: "Josefin Sans", sans-serif;
}

.fullscreen {
  height: 100vh;
}

.title {
  font-family: "Lobster", cursive;
}