@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lobster&display=swap");
:export {
  color1: #292929;
  color2: #eeeeee;
  color3: #118392;
  color4: #ad7100;
  dark: #111111;
  colorShadow: #202020;
  initialized: #7397af;
  submitted: #067d9b;
  retrieving: #d19945;
  retrieved: #e06c00;
  stocking: #4fc25b;
  complete: #00750a;
  colorOrange: #e06c00;
  colorGreen: #06720f;
  colorRed: #a10000;
  bpSM: 576px;
  bpMD: 768px;
  bpLG: 992px;
  bpXL: 1200px;
  bpXXL: 1400px;
}

#bootstrap-overrides a {
  text-decoration: none;
}
#bootstrap-overrides .btn {
  background-color: transparent;
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem;
  width: 7rem;
  color: #eeeeee;
  box-shadow: 0 0 0 0.175rem #eeeeee;
}
#bootstrap-overrides .btn:hover {
  background-color: #111111;
  color: #eeeeee;
  box-shadow: none;
  transition: ease 0.5s all;
}
#bootstrap-overrides .btn:focus {
  outline: none;
  color: #eeeeee;
}
#bootstrap-overrides .btn:focus:not(:hover) {
  box-shadow: 0 0 0 0.175rem black;
}
#bootstrap-overrides .btn:focus:not(:active) {
  background: #111111;
  background-image: linear-gradient(45deg, #111111 0%, #111111 15%, #373737 25%, #111111 45%, #111111 100%);
  background-repeat: no-repeat;
  background-size: 1000%, 600%;
  display: inline-block;
  position: relative;
  animation: 2.5s 1s shimmer reverse infinite linear;
}
#bootstrap-overrides .btn:active {
  background-color: black;
  position: relative;
  margin-bottom: -0.2rem;
  transition: ease 0.3s all;
}
#bootstrap-overrides .btn i {
  color: inherit;
}
#bootstrap-overrides .btn-3 {
  color: #118392;
  box-shadow: 0 0 0 0.175rem #118392;
}
#bootstrap-overrides .btn-3:hover {
  background-color: #118392;
}
#bootstrap-overrides .btn-3:focus:not(:hover) {
  box-shadow: 0 0 0 0.175rem #0c5a64;
}
#bootstrap-overrides .btn-3:focus:not(:active) {
  background: #118392;
  background-image: linear-gradient(45deg, #118392 0%, #118392 15%, #19c0d7 25%, #118392 45%, #118392 100%);
  background-repeat: no-repeat;
  background-size: 1000%, 600%;
  display: inline-block;
  position: relative;
  animation: 2.5s 1s shimmer reverse infinite linear;
}
#bootstrap-overrides .btn-3:active {
  background-color: #0c5a64;
}
#bootstrap-overrides .btn-4 {
  color: #ad7100;
  box-shadow: 0 0 0 0.175rem #ad7100;
}
#bootstrap-overrides .btn-4:hover {
  background-color: #ad7100;
}
#bootstrap-overrides .btn-4:focus:not(:hover) {
  box-shadow: 0 0 0 0.175rem #7a5000;
}
#bootstrap-overrides .btn-4:focus:not(:active) {
  background: #ad7100;
  background-image: linear-gradient(45deg, #ad7100 0%, #ad7100 15%, #faa300 25%, #ad7100 45%, #ad7100 100%);
  background-repeat: no-repeat;
  background-size: 1000%, 600%;
  display: inline-block;
  position: relative;
  animation: 2.5s 1s shimmer reverse infinite linear;
}
#bootstrap-overrides .btn-4:active {
  background-color: #7a5000;
}
#bootstrap-overrides .btn-red {
  color: #a10000;
  box-shadow: 0 0 0 0.175rem #a10000;
}
#bootstrap-overrides .btn-red:hover {
  background-color: #a10000;
}
#bootstrap-overrides .btn-red:focus:not(:hover) {
  box-shadow: 0 0 0 0.175rem #6e0000;
}
#bootstrap-overrides .btn-red:focus:not(:active) {
  background: #a10000;
  background-image: linear-gradient(45deg, #a10000 0%, #a10000 15%, #ee0000 25%, #a10000 45%, #a10000 100%);
  background-repeat: no-repeat;
  background-size: 1000%, 600%;
  display: inline-block;
  position: relative;
  animation: 2.5s 1s shimmer reverse infinite linear;
}
#bootstrap-overrides .btn-red:active {
  background-color: #6e0000;
}
#bootstrap-overrides .btn-basic {
  background-color: transparent;
  border-radius: 0.25rem;
  border: none;
  padding: 0.5rem;
  width: 7rem;
  color: #eeeeee;
}
#bootstrap-overrides .btn-basic:focus {
  outline: none;
  color: #eeeeee;
}
#bootstrap-overrides .btn-basic:active {
  background-color: black;
}
#bootstrap-overrides .btn-circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}
#bootstrap-overrides .form-group {
  position: relative;
}
#bootstrap-overrides .form-group .input {
  position: relative;
  z-index: 2;
  min-width: 15rem;
  width: 100%;
  border: 0;
  outline: 0;
  background: transparent;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 0.2rem solid #0c5a64;
  color: #ad7100;
  resize: none;
  /* reset input */
}
#bootstrap-overrides .form-group .input:hover {
  border-bottom: 0.2rem solid rgba(173, 113, 0, 0.5);
}
#bootstrap-overrides .form-group .input:focus {
  outline: 0;
  box-shadow: none;
  border-width: 0.2rem;
  border-image: linear-gradient(to right, #e09200, #ad7100, #7a5000);
  border-image-slice: 1;
}
#bootstrap-overrides .form-group .input:focus ~ .label {
  left: 100%;
  top: 0;
  transform: translate(-100%, 0%);
  transition: 0.2s;
  font-size: 0.8rem;
  color: #ad7100;
}
#bootstrap-overrides .form-group .input::placeholder {
  color: transparent;
}
#bootstrap-overrides .form-group .input:required, #bootstrap-overrides .form-group .input:invalid {
  box-shadow: none;
}
#bootstrap-overrides .form-group input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #06720f;
}
#bootstrap-overrides .form-group input:-webkit-autofill:hover {
  border-bottom: 0.2rem solid rgba(173, 113, 0, 0.5);
}
#bootstrap-overrides .form-group input:-webkit-autofill:focus {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #06720f;
}
#bootstrap-overrides .form-group .label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(17, 131, 146, 0.5);
  background-color: transparent;
  cursor: text;
  z-index: 1;
  transition: 0.2s;
  white-space: nowrap;
}
#bootstrap-overrides .form-group .input-group {
  flex-wrap: nowrap;
}
#bootstrap-overrides .form-group .input-group .input-group-addon {
  width: 3rem;
  box-shadow: none;
  color: #118392;
}
#bootstrap-overrides .form-group .input-group .input-group-addon:hover {
  background-color: transparent;
}
#bootstrap-overrides .spinner-border {
  position: absolute;
  top: calc(50% - 1rem);
  left: calc(50% - 1rem);
}

@keyframes button-pulse-3 {
  from {
    color: #118392;
    box-shadow: 0 0 0 0.175rem #118392;
    background-color: initial;
  }
  to {
    color: #eeeeee;
    box-shadow: none;
    background-color: #1497a9;
  }
}
@keyframes shimmer {
  0% {
    background-position: -10% 110%;
  }
  100% {
    background-position: 110% -10%;
  }
}
#login .title {
  color: #1497a9;
}

#new-chat #new-chat-modal {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background-color: #111111;
  width: 20rem;
  max-width: 75%;
  max-height: 50%;
  overflow-y: scroll;
  border-radius: 0.25rem;
}
#new-chat #new-chat-modal .new-chat-modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#new-chat #new-chat-modal .new-chat-modal-header .new-chat-modal-title {
  font-family: "Lobster", cursive;
  color: #118392;
  padding: 0.5rem;
}
#new-chat #new-chat-modal .new-chat-modal-header .new-chat-modal-close {
  border: none;
  padding: 0.5rem;
}
#new-chat #new-chat-btn {
  position: absolute;
  top: 90vh;
  right: 3rem;
  background-color: #111111;
  box-shadow: none;
}
#new-chat #new-chat-btn:hover {
  background-color: black;
  transition: ease 0.5s background-color;
}
#new-chat #new-chat-btn:focus:not(:hover) {
  box-shadow: 0 0 0 0.175rem #aeaeae;
}
#new-chat #new-chat-btn:active {
  background-color: black;
  transition: 0s all;
  top: unset;
  top: calc(90vh + 0.2rem);
}

#chats .chat-link .chat {
  width: 100%;
  min-height: 5rem;
  display: flex;
  align-items: center;
}
#chats .chat-link .chat .avatar,
#chats .chat-link .chat .thumbnail {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #118392;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
#chats .chat-link .chat .avatar .participants,
#chats .chat-link .chat .thumbnail .participants {
  margin: 0;
}
#chats .chat-link .chat .chat-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#chat {
  position: relative;
  height: 100vh;
}
#chat #chat-messages {
  display: flex;
  flex-direction: column;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
#chat #chat-messages .chat-fade {
  position: fixed;
  top: 0;
  left: 0;
  height: 20vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50%, transparent 100%);
}
#chat #chat-messages .no-messages-yet {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#chat #chat-messages .last-message {
  height: 0;
  visibility: hidden;
}

#chat-nav {
  background-color: #030303;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 3.5rem;
}
#chat-nav .back-to-chats {
  margin: 0 1rem 0 1rem;
}
#chat-nav .navbar-brand-name {
  font-family: "Lobster", cursive;
}
#chat-nav .chat-context-options,
#chat-nav .message-context-options {
  margin-left: auto;
  display: flex;
  width: 50%;
  max-width: 20rem;
  flex-direction: row;
  justify-content: flex-end;
}
#chat-nav .chat-context-options i,
#chat-nav .message-context-options i {
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
}
#chat-nav .chat-context-options i:hover,
#chat-nav .message-context-options i:hover {
  color: #118392;
}

#chat-settings {
  padding-top: 3.5rem;
}
#chat-settings .chat-name {
  margin: 1rem 0rem;
}
#chat-settings .chat-name .change-chat-name-btn {
  margin: 1rem 0;
}
#chat-settings .chat-participants .participant-card {
  margin: 0.5rem 0;
  padding: 0.5rem;
  background-color: #111111;
  border-radius: 0.25rem;
}

.message {
  background-color: #050505;
  min-width: 25%;
  max-width: 75%;
  margin: 0.25rem 0.5rem;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  position: relative;
  cursor: pointer;
  transition: margin 0.3s ease;
}
.message .message-info {
  display: flex;
  flex-direction: row;
  font-size: 0.85rem;
  opacity: 0.5;
}
.message .message-info .message-info-edited {
  margin-left: 0.25rem;
}
.message .message-info .message-info-status-anchor {
  position: relative;
  margin-left: 0.25rem;
}
.message .message-info .message-info-status-anchor .message-info-status {
  position: absolute;
  left: 0;
  top: 10%;
}
.message .message-info .message-info-status-anchor .message-info-status.status-read {
  color: #16acc0;
}
.message .message-info .message-info-status-anchor .message-info-status.status-error {
  color: #d40000;
}
.message .message-info .message-info-status-anchor i:nth-child(2) {
  left: 0.3rem;
}
.message .message-reply {
  font-size: 0.8rem;
  border-left: 0.2rem solid #118392;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.message .message-reply p {
  margin: 0;
}
.message .message-reply p.message-reply-author {
  opacity: 0.5;
}
.message .message-reply p.message-reply-text {
  margin-left: 0.5rem;
}
.message .message-reply .message-reply-scroll {
  opacity: 0.3;
  position: absolute;
  left: -3.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.message.user-true {
  align-self: flex-end;
  background-color: #171717;
}
.message.user-false {
  align-self: flex-start;
  background-color: #1e1e1e;
}
.message.message-selected.user-true {
  background-color: #0e6f7b;
  margin-right: 1.5rem;
  transition: margin-right ease 0.3s;
}
.message.message-selected.user-true .message-reply {
  border-color: #ad7100;
}
.message.message-selected.user-false {
  background-color: #946000;
  margin-left: 1.5rem;
  transition: margin-left ease 0.3s;
}
.message.message-selected .message-info .message-info-status-anchor .message-info-status.status-read {
  color: #eeeeee;
}
.message.message-selected .message-info .message-info-status-anchor .message-info-status.status-error {
  color: black;
}
.message.original {
  background-color: pink;
}

#message-new {
  width: 100%;
  background-color: #030303;
  padding: 0.25rem;
  max-height: 10rem;
}
#message-new .form-group {
  width: 100%;
}
#message-new .form-group .message-new-input-group {
  flex-wrap: nowrap;
}
#message-new .form-group .message-new-input-group .message-input {
  align-self: flex-end;
  height: 2rem;
  line-height: 1rem;
  padding: 0.2rem 0.5rem;
}
#message-new .form-group .message-new-input-group .message-input:hover {
  color: rgba(173, 113, 0, 0.5);
}
#message-new .form-group .message-new-input-group .message-input:active {
  color: #ad7100;
}
#message-new .form-group .message-new-input-group .message-input:focus {
  color: #ad7100;
}
#message-new .form-group .message-new-input-group .message-input.expanded {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 90%;
  height: calc(80%);
  border-radius: 0.25rem;
  z-index: 100;
  background-color: #292929;
  padding: 1rem;
}
#message-new .form-group .message-new-input-group .expanded-close {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  cursor: pointer;
  z-index: 101;
}

#message-preview {
  position: fixed;
  bottom: 3.5rem;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #030303;
  border-bottom: 0.2rem solid rgba(41, 41, 41, 0.5);
}
#message-preview .message-preview-left .message-preview-cancel {
  padding: 0.5rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
#message-preview .message-preview-right .message-preview-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0.6;
  margin-top: 0.5rem;
}
#message-preview .message-preview-right .message-preview-info .message-preview-icon {
  font-size: 0.7rem;
  margin: 0.5rem;
}
#message-preview .message-preview-right .message-preview-info .message-preview-info-title {
  font-size: 0.9rem;
}
#message-preview .message-preview-right .message-preview-info-text {
  margin: 0.5rem;
  padding: 0.25rem 1rem;
  border-left: 0.2rem solid #118392;
}

#bookmarks-anchor {
  position: relative;
}
#bookmarks-anchor .bookmarks-trigger {
  position: fixed;
  top: 4.5rem;
  left: 1.2rem;
  cursor: pointer;
  z-index: 1;
}
#bookmarks-anchor .bookmarks {
  position: fixed;
  width: 50vw;
  height: calc(100vh - 7rem);
  top: 3.5rem;
  left: 0;
  background-color: #101010;
  z-index: 1030;
  padding: 1rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}
#bookmarks-anchor .bookmarks .bookmarks-close {
  margin-left: auto;
  cursor: pointer;
}
#bookmarks-anchor .bookmarks .bookmark .bookmark-date {
  opacity: 0.5;
}
#bookmarks-anchor .bookmarks .bookmark .bookmark-text {
  max-height: 6rem;
  overflow-y: scroll;
}
#bookmarks-anchor .bookmarks .bookmark hr {
  color: #118392;
}
#bookmarks-anchor .bookmarks .bookmark:nth-of-type(2n) hr {
  color: #ad7100;
}

#contacts {
  padding-top: 2rem;
}
#contacts .contacts-tabs {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#contacts .contacts-tabs .contacts-tab {
  z-index: 1;
  background-color: #040404;
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 40%;
  font-family: "Lobster", cursive;
}
#contacts .contacts-tabs .contacts-tab.tab-contacts {
  margin-right: -0.5rem;
  color: #118392;
}
#contacts .contacts-tabs .contacts-tab.tab-contacts i {
  color: #118392;
}
#contacts .contacts-tabs .contacts-tab.tab-blocklist {
  margin-left: -0.5rem;
  color: #a10000;
}
#contacts .contacts-tabs .contacts-tab.tab-blocklist i {
  color: #a10000;
}
#contacts .contacts-tabs .contacts-tab.current {
  z-index: 2;
  background: none;
  background-color: #111111;
  height: 3.2rem;
  margin-bottom: -0.2rem;
}
#contacts .contacts-page {
  padding-bottom: 100%;
}
#contacts .contact-card {
  background-color: #111111;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}
#contacts .contact-card .contact-actions {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contact .contact-avatar {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  margin: 1rem;
  background-color: #118392;
  text-align: center;
  border-radius: 50%;
}

#new-contact .new-contact-modal-trigger {
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
}
#new-contact .new-contact-modal-trigger:focus:not(:active) {
  display: unset;
  position: fixed;
}
#new-contact .new-contact-modal-trigger:active {
  position: fixed;
  top: unset;
}
#new-contact .new-contact-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: black;
  border-radius: 0.25rem;
  padding: 1rem;
}
#new-contact .new-contact-modal .new-contact-modal-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}
#new-contact .new-contact-modal .new-contact-modal-header .new-contact-modal-close {
  margin-left: auto;
  padding: 0.25rem;
  cursor: pointer;
}
#new-contact .new-contact-modal .new-contact-modal-results .contact-actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
#new-contact .new-contact-modal .new-contact-modal-results .contact-actions .contact-action-btn {
  margin: 0.5rem;
}

#nav-anchor {
  position: relative;
}
#nav-anchor #dash-nav {
  background-color: #101010;
  width: 100%;
  height: 3.5rem;
  padding: 0;
  padding-left: 0.5rem;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  left: 0;
}
#nav-anchor #dash-nav .navbar-toggler {
  width: auto;
  padding: 0.5rem 0.75rem;
  box-shadow: none;
}
#nav-anchor #dash-nav .navbar-toggler .fas {
  color: #eeeeee;
}
#nav-anchor #dash-nav .navbar-brand {
  font-family: "Lobster", cursive;
  color: #ad7100;
  margin: 0 1rem;
  padding: 0;
}
#nav-anchor #dash-nav .back-to-dash {
  margin-left: auto;
  margin-right: 1.5rem;
}
#nav-anchor .nav-content {
  position: absolute;
  z-index: 1030;
  left: -161%;
  height: 100vh;
  width: 80%;
  background-color: black;
  transition: left 0.2s ease;
}
#nav-anchor .nav-content.show {
  display: initial;
  top: 0;
  left: 0;
  transition: left 0.2s ease;
}
#nav-anchor .nav-content .navbar-nav {
  height: 100%;
}
#nav-anchor .nav-content .navbar-nav .dash-nav-close {
  margin: 0.75rem 0.75rem 0.75rem auto;
  cursor: pointer;
}
#nav-anchor .nav-content .navbar-nav .nav-item {
  margin: 0;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0;
  cursor: pointer;
}
#nav-anchor .nav-content .navbar-nav .nav-item#nav-user {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#nav-anchor .nav-content .navbar-nav .nav-item:hover .nav-item-content {
  margin-left: 0.5rem;
  transition: margin-left 0.3s ease;
}
#nav-anchor .nav-content .navbar-nav .nav-item .nav-item-content {
  text-decoration: none;
  color: #eeeeee;
  height: 100%;
  width: 100%;
  border: none;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: margin-left 0.3s ease;
}
#nav-anchor .nav-content .navbar-nav .nav-item .nav-item-content:focus {
  margin-left: 0.5rem;
  transition: margin-left 0.3s ease;
  outline: none;
}
#nav-anchor .nav-content .navbar-nav .nav-item .nav-item-content:focus:not(:active) .i-bg {
  background: #0e6f7b;
  background-image: linear-gradient(45deg, #0e6f7b 0%, #0e6f7b 15%, #16acc0 25%, #0e6f7b 45%, #0e6f7b 100%);
  background-size: 1000%, 600%;
  animation: 2.5s 1s shimmer reverse infinite linear;
}
#nav-anchor .nav-content .navbar-nav .nav-item .nav-item-content:active {
  position: relative;
  top: 0.2rem;
  transition: ease 0.3s all;
}
#nav-anchor .nav-content .navbar-nav .nav-item .nav-item-content:active .i-bg {
  background-color: #0c5a64;
}
#nav-anchor .nav-content .navbar-nav .nav-item .nav-item-content .i-bg {
  margin-right: 0.5rem;
  background-color: #0e6f7b;
  border-radius: 50%;
  padding: 0.5rem;
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#nav-user .nav-user-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}
#nav-user .nav-user-header .new-user-title {
  margin: 0;
}
#nav-user .nav-user-header .status-dot {
  font-size: 0.5rem;
  margin-left: 0.5rem;
}
#nav-user .nav-user-info p {
  margin-bottom: 0;
}
#nav-user .nav-user-info .nav-user-user {
  margin-top: 1rem;
}

#create-profile .title {
  color: #118392;
}
#create-profile .value-required {
  color: #118392;
}

#delete-account .delete-account-trigger,
#delete-account .delete-chat-trigger,
#delete-chat .delete-account-trigger,
#delete-chat .delete-chat-trigger {
  margin-top: 5rem;
  margin-bottom: 2rem;
  width: 100%;
}
#delete-account .delete-account-modal,
#delete-account .delete-chat-modal,
#delete-chat .delete-account-modal,
#delete-chat .delete-chat-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: #111111;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#delete-account .delete-account-modal .delete-account-prompt,
#delete-account .delete-account-modal .delete-chat-prompt,
#delete-account .delete-chat-modal .delete-account-prompt,
#delete-account .delete-chat-modal .delete-chat-prompt,
#delete-chat .delete-account-modal .delete-account-prompt,
#delete-chat .delete-account-modal .delete-chat-prompt,
#delete-chat .delete-chat-modal .delete-account-prompt,
#delete-chat .delete-chat-modal .delete-chat-prompt {
  text-align: center;
}
#delete-account .delete-account-modal .delete-account-actions,
#delete-account .delete-account-modal .delete-chat-actions,
#delete-account .delete-chat-modal .delete-account-actions,
#delete-account .delete-chat-modal .delete-chat-actions,
#delete-chat .delete-account-modal .delete-account-actions,
#delete-chat .delete-account-modal .delete-chat-actions,
#delete-chat .delete-chat-modal .delete-account-actions,
#delete-chat .delete-chat-modal .delete-chat-actions {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#alert-anchor {
  position: fixed;
  width: 100%;
  top: 3.5rem;
  left: 0;
  z-index: 100;
}
#alert-anchor .alert {
  width: 100%;
  background: #434343;
  color: #eeeeee;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0;
  margin-bottom: 1rem;
  position: relative;
}
#alert-anchor .alert-text {
  background: none;
  text-align: center;
  max-width: 75%;
  margin: 0;
}
#alert-anchor .alert-text i {
  background-color: transparent;
}
#alert-anchor .close-alert {
  position: absolute;
  background-color: transparent;
  left: 100%;
  top: 50%;
  transform: translate(-100%, -50%);
  padding: 0 1rem;
  color: #eeeeee;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}
#alert-anchor .alert-success {
  background-color: #034209;
}
#alert-anchor .alert-warning {
  background-color: #ad5300;
}
#alert-anchor .alert-danger {
  background-color: #6e0000;
}

#landing .title {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  color: #ad7100;
}

#dashboard {
  position: relative;
  height: 100vh;
}
#dashboard .dashboard-container {
  padding-top: 3.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: #eeeeee;
}

html,
#bootstrap-overrides {
  background-color: #292929;
  color: #eeeeee;
  font-family: "Josefin Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 0.2rem;
}

::-webkit-scrollbar-thumb {
  background-color: #2b2b2b;
  border-radius: 0.2rem;
}

::-webkit-scrollbar-track {
  background-color: #101010;
}

.fullscreen {
  height: 100vh;
}

.title {
  font-family: "Lobster", cursive;
}

.color-3 {
  color: #118392;
}

.color-4 {
  color: #ad7100;
}

.color-red {
  color: #a10000;
}

.color-green {
  color: #06720f;
}

.color-grey {
  color: #777777;
}