:export {
  color1: #292929;
  color2: #eeeeee;
  color3: #1a9eaf;
  color4: #cc8500;
  dark: #4b4b4b;
  colorShadow: #202020;
  initialized: #7397af;
  submitted: #067d9b;
  retrieving: #d19945;
  retrieved: #e06c00;
  stocking: #4fc25b;
  complete: #00750a;
  colorOrange: #e06c00;
  colorGreen: #06720f;
  colorRed: #a10000;
  bpSM: 576px;
  bpMD: 768px;
  bpLG: 992px;
  bpXL: 1200px;
  bpXXL: 1400px;
}