.message {
	background-color: darken($color-1, 14%);
	min-width: 25%;
	max-width: 75%;
	margin: 0.25rem 0.5rem;
	padding: 0.25rem 1rem;
	border-radius: 0.25rem;
	position: relative;
	cursor: pointer;
	transition: margin 0.3s ease;

	.message-info {
		display: flex;
		flex-direction: row;
		font-size: 0.85rem;
		opacity: 0.5;

		.message-info-edited {
			margin-left: 0.25rem;
		}

		.message-info-status-anchor {
			position: relative;
			margin-left: 0.25rem;

			.message-info-status {
				position: absolute;
				left: 0;
				top: 10%;

				&.status-read {
					color: lighten($color-3, 10%);
				}

				&.status-error {
					color: lighten($color-red, 10%);
				}
			}

			i:nth-child(2) {
				left: 0.3rem;
			}
		}
	}

	&.user-true {
		align-self: flex-end;
		background-color: darken($color-1, 7%);
	}

	&.user-false {
		align-self: flex-start;
		background-color: lighten($dark, 5%);
	}

	&.message-selected {
		&.user-true {
			background-color: darken($color-3, 5%);
			margin-right: 1.5rem;
			transition: margin-right ease 0.3s;
		}

		&.user-false {
			background-color: darken($color-4, 5%);
			margin-left: 1.5rem;
			transition: margin-left ease 0.3s;
		}

		.message-info {
			.message-info-status-anchor {
				.message-info-status {
					&.status-read {
						color: $color-2;
					}

					&.status-error {
						color: darken($color-1, 20%);
					}
				}
			}
		}
	}
}
