// ALERT
#alert-anchor {
	position: fixed;
	width: 75vw;
	top: 5rem;
	left: 50%;
	transform: translateX(-50%);
	z-index: 100;

	.alert {
		width: 100%;
		background: lighten($color-1, 10%);
		color: $color-2;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		border: none;
		margin-bottom: 1rem;
		position: relative;
	}

	.alert-text {
		background: none;
		text-align: center;
		max-width: 75%;
		margin: 0;

		i {
			background-color: transparent;
		}
	}

	.close-alert {
		position: absolute;
		background-color: transparent;
		left: 100%;
		top: 50%;
		transform: translate(-100%, -50%);
		padding: 0 1rem;
		color: $color-2;
		font-size: 2rem;
		border: none;
		cursor: pointer;
	}

	.alert-success {
		background-color: darken($color-green, 10%);
	}

	.alert-warning {
		background-color: darken($color-orange, 10%);
	}

	.alert-danger {
		background-color: darken($color-red, 10%);
	}
}
