#dashboard {
	position: relative;
	#new-chat {
		position: absolute;
		top: 85vh;
		right: 3rem;
		background-color: $dark;
		box-shadow: none;

		&:hover {
			background-color: darken($dark, 10%);
			transition: ease 0.5s background-color;
		}

		&:focus {
			&:not(:hover) {
				box-shadow: 0 0 0 0.175rem darken($color-2, 25%);
			}
		}

		&:active {
			background-color: darken($dark, 10%);
			transition: 0s all;
			top: unset;
			top: calc(85vh + 0.2rem);
		}
	}
}
